img {
    width: 100%;
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
  }

#nav_top {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_top>div:nth-child(2) {
    width: 45%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#nav_top>div>form>button,
button {
    border: 0px;
    background-color: white;
    padding: 8px;
    font-size: 14px;
}

#nav_top>div>form>button:hover {
    background-color: rgb(228, 224, 224);
    cursor: pointer;
}

#nav_top>div:nth-child(2)>button {
    font-size: 12px;
    cursor: pointer;
}
#nav_main{
    width: 90%;
    margin: auto;
    align-items: center;
    border-bottom:  1px solid gray;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#nav_main>ul{
list-style: none;
display: flex;
}
#nav_main ul li{
   margin-right: 10px;
}
.dropdown{
    display: none;
}

#nav_main>input{
  margin-left: 100px;
}
#nav_main>span{
    rotate: -45deg;
    color: grey;
    font-size: 25px;
}
#nav_main ul li:hover .dropdown{
display: block;
position: absolute;
display: flex;
justify-content: space-between;
background-color: rgb(214, 211, 211);
cursor: pointer;
}
.dropdown>div{
    width: 35%;
    margin: auto;
}
.dropdown ul{
display: block;
list-style: none;
}
.dropdown ul li{
    margin: 10px;
    padding: 5px;
    
}
#sale{
    color: red;
}
#logo {
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#logo img {
    width: 30%;
    display: block;
    margin: auto;
    margin-left: 400px;
}

#top {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

#top img {
    width: 100%;
    margin-top: 15px;
}

#top>div:nth-child(3) {
    background-color: rgb(240, 231, 231);
    text-align: center;
    margin-top: 10px;
    padding: 40px;
    border-bottom:  1px solid gray;
    border-top:  1px solid gray;
}
#products_container{
    width: 90%;
    margin: auto;
    display: grid;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
}

#products_container>div>img{
    width: 70%;
    height: 50%;
}
.Addcart{
    color: white;
    background-color: black;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}
#details{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-bottom:  1px solid gray;
    border-top:  1px solid gray;
}
#details>div:nth-child(1)>h3{
    text-align: center;
}
#details>div:nth-child(2){
    display: flex;
    
}
#footer{
    width: 90%;
    margin: auto;
    
    border-bottom:  1px solid gray;
}
#footer>h3:nth-child(1){
    text-align: center;
    
}
#footer>div:nth-child(2){
    display: flex;
    justify-content: center;
    border-bottom:  1px solid gray;
   
}
#footer>div:nth-child(2) img{
    width: 12%;
    margin-bottom: 30px;
}
#footer>div:nth-child(3){
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 5px;
   margin-bottom: 30px;
}
#footer>div:nth-child(3)>div>p{
    margin: 6px;
    padding: 0px;
}
